@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 14px;
}

@media(min-width: 1536px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #2a354f;
  background: linear-gradient(138deg, #FFF -71.4%, #EFEFEF 36.51%);
}

header {
  background: linear-gradient(138deg, #FFF -71.4%, #EFEFEF 36.51%);
}

.shadow1 {
  box-shadow: -0.125rem -0.125rem 0.25rem #f9f9f9, 0.125rem 0.125rem 0.25rem #6e7a8f4d;
}

.box1 {
  border: 1px solid #e0e0e0;
  background-color: #efefef;
  border-radius: 1rem;
  transition: all .4s ease-in-out;
  box-shadow: -0.25rem -0.25rem 0.5rem #f9f9f9, 0.25rem 0.25rem 0.5rem #6e7a8f4d;
}

.box1:hover,
.box1:focus {
  box-shadow: -0.5rem -0.5rem 1rem #f9f9f9, 0.5rem 0.5rem 1rem #6e7a8f4d;
}

.navigation-wrapper {
  position: relative;
}

.photoBox {
  fill: #F3F3F3;
  box-shadow: -6px -6px 10px 0px #FFF inset, 6px 6px 8px 0px rgba(0, 0, 0, 0.10) inset;
}

.opacityGradient {
  -webkit-mask-image: -webkit-gradient(linear,
      right center,
      right bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0)));
}