@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #2A354F;
  background: linear-gradient(153deg, #FFF 0%, #EFEFEF 56.77%);
}

.listBox {
  box-shadow: -10px -10px 15px 0px rgba(255, 255, 255, 0.90), 10px 10px 15px 0px rgba(0, 0, 0, 0.15);
}

.buttonBoxHeader {
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
  padding: 15px 25px;
  border-radius: 30px;
  background: #F2F2F2;
  box-shadow: -3px -3px 6px 0px rgba(255, 255, 255, 0.90) inset, 3px 3px 6px 0px rgba(0, 0, 0, 0.10) inset, -8px -8px 10px 0px #FFF, 8px 8px 10px 0px rgba(0, 0, 0, 0.15);
}

.buttonBox {
  font-size: 18px;
  font-weight: 600;
  line-height: 110%;
  padding: 13px 40px;
  border-radius: 30px;
  background: #EFEFEF;
  box-shadow: -3px -3px 6px 0px rgba(255, 255, 255, 0.90) inset, 3px 3px 6px 0px rgba(0, 0, 0, 0.10) inset, -8px -8px 10px 0px #FFF, 8px 8px 10px 0px rgba(0, 0, 0, 0.15);
}

.box {
  border-radius: 15px;
  border: 1px solid #E0E0E0;
  background: #EFEFEF;
  box-shadow: -10px -10px 15px 0px rgba(255, 255, 255, 0.90), 10px 10px 15px 0px rgba(0, 0, 0, 0.15);
}

.box2 {
  border-radius: 15px;
  background: #EFEFEF;
  box-shadow: -6px -6px 8px 0px #FFF inset, 6px 6px 8px 0px rgba(0, 0, 0, 0.15) inset;
}